<div class="container">
  <div class="col-md-6 p-t-20">
    <img class="img img-responsive img-50" src="{{ site.base_url }}/img/flutter.png"
      alt="flutter-development-consulting">
  </div>
  <div class="col-md-6 p-t-50">
    <p class="intro">We <i class="fa fa-heart"></i> Flutter too.</p>
    <p class="intro">At Sapidlabs, we have started to realize the full potential using Flutter for Android &amp; IOS
      app development.</p>
    {% include elements/know_more_button.html path='flutter-app-development' text='know more' %}
  </div>
</div>
