{% for post in include.posts %}

  {% if post.tags contains 'Ruby' %}
    {%- assign class_name = 'ruby-post' -%}
  {% endif %}

  <div class="col-md-6">
    <div class="panel panel-default grid-item {{ class_name | default: 'general-post' }}">
      <div class="panel-body">
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h2>

        {% include elements/tags.html tags=post.tags %}

        <p class="post-date">{{ post.date | date_to_long_string }}</p>
        <p>
          {{ post.content | strip_html | truncatewords: 20 }}
        </p>
      </div>
    </div>
  </div>
{% endfor %}
