<div class="container {{ include.container_class }}">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Open Source</h3>
    </div>
    <div class="container">
      <div class="col-md-6 p-t-50">
        <p class="intro">We always try to contribute to Flutter Open Source Community.</p>
        {% include elements/know_more_button.html path='flutter-open-source' text='See Projects' %}
      </div>
      <div class="col-md-3 col-md-offset-3">
        <img src="{{ site.base_url }}/img/open-source.png" class='img img-responsive img-80'
          alt="sapidlabs-flutter-open-source">
      </div>
    </div>
  </div>
</div>
